/* styles.css */

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
}

.container {
    /* background-color: #ffffff; */
    padding: 20px;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    /* background-color: #007bff;
    color: #ffffff; */
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.form-group {
    margin-bottom: 20px;
}

button.btn-primary {
    background-color: #007bff;
    border: none;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

.ml-auto .navbar-brand:hover {
    text-decoration: underline;
}
/* Add this to your existing style.css or in a separate CSS file */

/* .card1 {
    text-align: center;
    width: 100%;
    margin-left: 10px;
}
.card2 {
    text-align: center;
    width: 200%;
}
.card3 {
    text-align: center;
    width: 200%;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */

/* 
Optional: Add some spacing between the cards */
